
<style>
   .bg-info-footer {
  background-color: #073c0a;
  color: #fff;
  padding: 1rem;
  margin-top: 4rem;
}


</style>
<footer class="text-light py-1 mt-4 bg-info-footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h6 class="mb-1">Partners</h6>
        <p class="mb-0 small">GIZ</p>
      </div>
      <div class="col-md-4">
        <h6 class="mb-1">Contact</h6>
        <ul class="list-unstyled mb-0">
        
          <li class="small">Email: info@example.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="mb-1">Follow Us</h6>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#" class="social-icon"><i class="fab fa-twitter"></i></a></li>
         
          </ul>
        </ul>
      </div>
    </div>
  </div>
  
</footer>
<div class="text-center text-light bg-dark py-1">
  <p class="mb-0 small">&copy; 2023 Plumbee. All rights reserved.</p>
</div>
<style>
  .social-icon {
    color: #fff;
    /* Specify the desired color here */
  }

  .social-icon:hover {
    color: #2f0dc6;
    /* Specify the desired color on hover here */
  }
</style>