
<h4 class="text-center mt-5 mb-1 bg ">
    Plumbee Agri-Link Data Manager
    <sub style="font-size: 0.38em; color: #e80fae;"></sub>
</h4>
<style>
    .bg {

        color: #04620b;
        padding: 1rem;
        margin-top: 4rem;
    }
</style>