<!DOCTYPE html>
<html>
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>

<div class="container" style="background-color: #ffffff;">
        <h1>Thank you!!!!!!!!</h1>
        <h3>Your responses has been successfully submitted!!</h3>
        <a href="/index">Back to Home Page</a>
    </div>
</body>

</html>